<div>
    <app-recipe-manage-bar (manageMode)="onRecipeManageModeChange($event)"/>
    @if (manageMode == "View") {
        <app-recipe-list (selectedRecipe)="onRecipeSelect($event)"/>
        @if (currentRecipe !== undefined) {
            <app-recipe-details (manageMode)="onRecipeManageModeChange($event)" [recipeData]="currentRecipe"/>
        }
    }
    @else if (manageMode == "Add") {
        <app-add-recipe />
    }
    @else {
        <app-edit-recipe [editedRecipe]="currentRecipe!"/>
    }
</div>