{
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
      "RecipesDb": "Server=localhost;Database=RecipesDb;Port=port;User Id=secret;Password=secret;"
    }
}
  